.inline-block {
display: inline-block;
vertical-align: top;
}
.inline-block-logo{
    display: inline-block;
width: 23%;
}

.logo {
width: 23%;
padding: 1%;
text-align: center;
}

nav {
    width: 73%;
    padding: 1%;
}
ul{
    width: 50%;
    margin-left: auto;
}
.heroImg {
    height: 600px;
    padding: 25px;
}
.content {
width: 500px;
margin: 0 auto;
}
footer {
    background-color: #373738;
    text-align: center;
padding:1%;
}
.backgroundImage {
    max-height:100%; max-width:100%;
}
/* .footerUl {
    display:inline-block;
    vertical-align:top;
}
.footerLi {
    text-align: center;
} */
footer ul {
display: contents;
vertical-align: top;
list-style-type: none;
color: white;
}
